{% extends 'learning_logs/base.html' %}
{% block content %}
  <p>Topics</p>
<select required="required">
    <option value="">Выберите значение</option>
    {% for topic in topics %}
        <option>{{ topic }}</option>
    <ul>
    {% for topic in topics %}
    <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </li>
    {% endfor%}
</ul>
    {% endfor %}
</select>
<ul>
    {% for topic in topics %}
    <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </li>
    {% endfor%}
</ul>

{% endblock content %}
